@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  @apply leading-[1em];
}

.bordered {
  @apply rounded-3xl border-2 border-dashed transition-all hover:rounded-none;
}
